<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <div class="container">
      <div class="four columns"></div>
      <div class="four columns">
        <ul>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Google +</a>
          </li>
        </ul>
      </div>
      <div class="four columns"></div>
    </div>
    <div class="container">
      <p>&copy; 2013 Coffee Holics Coffee Club. All Rights Reserved.</p>
    </div>
  </div>
</footer>
