<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <div class="container links">
      <a href="#">Contact us</a>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Google +</a>
      <div class="container copy">
        <p>&copy; 2013 Coffee Holics Coffee Club. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
